@import url('https://fonts.googleapis.com/css?family=Happy+Monkey');

body{
  background: #9397D6;
  max-height: 100vh;
  max-width: 200vh;
}

.capitol{
  position: absolute;
  transform: translateX(90vh) translateY(40vh);
  height: 150px;
}

.zilker-small{
  border: 5px solid #FDA0BF;
  height: 100px;
  position: absolute;
  transform: translateX(20vh) translateY(70vh);
}

.zilker-small:hover{
  border: 5px solid #354882;
  opacity: 0.7;
}



#instructions{
  font-family: 'Happy Monkey', sans-serif;
  border: 5px solid #FDA0BF;
  color: #354882;
  background: rgba(255, 245, 176, 1);
  padding: 30px;
  font-size: 30px;
  display: block;
  width: 600px;
  text-align: center;
  line-height: 2;
  border-radius: 25px;
  transform: translateX(300px) translateY(100px);
  position: absolute;
  z-index: 2;
}

#instructions button{
  font-size: 20px;
  display: inline;
  width: 80px;
  padding: 10px;
  margin: 0 250px;
  border-radius: 25px;
  border: 3px solid white;
  background: #354882;
  color: white;
  font-family: 'Happy Monkey', sans-serif;
}

.help-button{
  font-size: 20px;
  display: inline;
  width: 80px;
  padding: 10px;
  border-radius: 25px;
  border: 3px solid white;
  background: rgba(255, 245, 176, 0.6);
  color: #354882;
  font-family: 'Happy Monkey', sans-serif;
}

.help-button:hover{
  background: rgba(255, 245, 176, 1);
}


.location-name{
  color: #354882;
  font-family: 'Happy Monkey', sans-serif;
}
