<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Map</title>
    <link rel="stylesheet" href="map.css">
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="map.js" charset="utf-8"></script>
  </head>
  <body>
    <p id="instructions">This is your map! Click on a location to find dogs and the items they need to go to their party! <button class="close">Done</button> </p>
    <img class="capitol location" src="img/Map.png" alt="capitol"><p class="location-name">Zilker Park<p></img>
    <a href="zilker.html"><img class="zilker-small" src="img/ZilkerRock.png" alt="zilker location"></a>
    <button class="help-button">Help!</button>
  </body>
</html>
