@import url('https://fonts.googleapis.com/css?family=Happy+Monkey');


body{
  background: #9397D6;
  max-height: 100vh;
}

.zilker{
  background-image: url('img/ZilkerRock.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 475px;
  width: 950px;
  margin: 0 10%;
  box-shadow: 0px 0px 4px 7px rgba(255, 245, 176, 0.6);
}

.ginny{
  height: 150px;
  position: absolute;
  transform: translateX(275px) translateY(300px);
}

.items{
  background: #9397D6;
}

.backpack{
  position: absolute;
  height: 120px;
  border-radius: 50%;
  transform: translateY(-15px) translateX(1000px);
}

.backpack:hover{
  height: 130px;
}

.sheep-toy{
  position: absolute;
  height: 120px;
  transform: translateX(860px) translateY(330px);
}

.sheep-toy:hover{
  height: 150px;
  transform: translateX(840px) translateY(300px);
}
.speech-bubble{
  background: white;
  border-radius: 50%;
  height:150px;
  width: 250px;
  position: absolute;
  transform: translateX(360px) translateY(150px)
}

.speech-bubble::after{
  content: '';
  background: transparent;
  position: absolute;
  bottom: -15px;
  left: 50px;
  width: 0;
  border-width: 40px 40px 0;
  border-style: solid;
  border-color: white transparent;
  transform: rotate(25deg);
}


.speech-bubble p {
  font-family: 'Happy Monkey', sans-serif;
  position: absolute;
  color: #354882;
  transform: translateX(30px) translateY(40px);
  font-size: 120%;
  text-align: center;
  max-width: 180px;
}

.instructions{
  position: absolute;
  z-index: 2;
  text-align: center;
  line-height: 2;
  border-radius: 25px;
  font-family: 'Happy Monkey', sans-serif;
  border: 5px solid #FDA0BF;
  color: #354882;
  background: rgba(255, 245, 176, 1);
  padding: 30px;
  font-size: 20px;
  display: block;
}

#initial-instructions{
  width: 300px;
  transform: translateX(375px) translateY(75px);
}

.instructions button{
  font-size: 20px;
  display: inline;
  width: 80px;
  padding: 10px;
  margin: 10px 50px 0 50px;
  border-radius: 25px;
  border: 3px solid white;
  background: #354882;
  color: white;
  font-family: 'Happy Monkey', sans-serif;
}

#second-instructions{
  width: 300px;
  transform: translateX(650px) translateY(250px);
}

#third-instructions{
  width: 300px;
  transform: translateX(500px) translateY(200px);
}

#zilker-hints{
  text-align: justify;
  line-height: 1;
  transform: translateX(100px);
  width: 800px;
  font-size: 15px;
}

#zilker-hints button{
  font-size: 10px;
  border-radius: 50%;
  position: absolute;
  transform: translateX(740px) translateY(10px);
  width: 30px;
  float: right;
  border: none;
  background: none;
  color:  #354882;
}

#zilker-hints button:hover{
  background: white;
}

.backpack-sheep{
  position: absolute;
  height: 100px;
  transform: translateX(900px) translateY(20px);
}

.highlighted-item{
  background:  rgba(255, 245, 176, 0.7);
  border-radius: 50%;
}

.help-button{
  font-size: 20px;
  display: inline;
  width: 80px;
  transform: translateY(-470px);
  padding: 10px;
  border-radius: 25px;
  border: 3px solid white;
  background: rgba(255, 245, 176, 0.6);
  color: #354882;
  font-family: 'Happy Monkey', sans-serif;
}

.help-button:hover{
  background: rgba(255, 245, 176, 1);
}
